<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Simple Authentication App</a>
</nav>

<div style="margin-top: 30px">
   <h2>Liste of my favorite teams</h2>
<ul>
  <li class="midlaner">Hawks</li>
  <li class="midlaner">Bears</li>
  <li class="toplaner">Sox</li>
  <li class="midlaner">Cubs</li>
  <li class="toplaner">Bulls IV</li>
</ul> 
</div>