<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">HBS HOME2</a>
</nav>

  <ul>
      <li class="toplaner">{{first}}</li>
      <li class="toplaner">{{last}}</li>
      <li class="toplaner">{{role}}</li>
  </ul>