html
html
   head
      title Form Tester
   body
      form(action = "/candy", method = "POST")
         div
            label(for = "item") Item:
            input(name = "item" value = "Item Name")
         br
         div
            label(for = "count") Count:
            input(name = "count" value = "")
         br
         div
            label(for = "cost") Cost:
            input(name = "cost" value = "")
         div
            label(for = "totalValue") Total Value:

         br
         button(type = "submit") Input Candy Item 