header {
    background-color: #00d6b2;
    font-size: 42px;
    display: block;
    text-align: left;
    height: 60px;
}
#img {
    float: left;
    height: 50px;
    width: 50px;
}
.grid-container {
    display: grid;
    grid-template-columns: 10% 15% ;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
    padding: 10px;
}
.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    background-color: #00d6b2;
}
#button1 {
    background-color: #33b5e5;
    font-size: 20px;
}
#startButton {
    background-color: #bbbbbb;
    background-color: #b94a48;
    font-size: 20px;
}
#taxable, #taxOwed {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    background-color: #bbbbbb;
    font-size: 19px;
}
#item,#deductions {
    border: 1px solid black;
}
#results {
    grid-column: 1 / span 3;
}
