{
    "parserOptions" : {
        "ecmaVersion": 6,
        "sourceType": "script"
     },
     "env" : {
         "browser" : true,
         "jquery" : true,
         "node" : false
     },
     "rules" : {
         "no-var" : "off",
         "prefer-cost" : "off"
     }
}
